
[Unit]
Description=WPA supplicant for %i

[Service]
ExecStart=/usr/sbin/wpa_supplicant -i%i -c/etc/wpa_supplicant/wpa_supplicant.conf
Restart=always

[Install]
WantedBy=multi-user.target
